<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8" />
  <title>Homepage</title>
  <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"
  />
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-light fixed-top bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand text-light">StudentDB | Receipt</span>
  </div>
</nav>
<div class="container mt-4">
  <br />
  <br />
  <h2 class="text-center mt-4 display-4" th:text="|Welcome, ${enrollment.student.firstName} ${enrollment.program.programName}|" ></h2>
  <p>
    Lorem ipsum dolor sit amet, sit illud vivendo accumsan ei. In qui vero
    dictas, vel nisl vidit nostro et. Vix utinam dissentias cotidieque in,
    ei sea congue similique voluptatum. Ei qui fugit interesset, quot unum
    laudem est cu, fugit utinam eligendi qui eu. Vix tale aperiam pericula
    te, ad duo bonorum electram. Ad sale feugait tibique pro, cu vis ubique
    officiis necessitatibus, ei nonumy dignissim mea. Graeco eirmod
    salutandi pro no. Per ne purto mundi quaerendum, te est tantas viderer
    dignissim, suavitate conceptam pri ea. Eum oporteat assueverit cu, sea
    ad mandamus voluptatum incorrupte. Has contentiones consequuntur ne, has
    liber impetus nostrud ne, per no mutat iriure concludaturque. Commodo
    feugait temporibus eam id, et illud quidam his, ne quidam impetus
    interesset pro. Mei ex verear laoreet, no dicta affert numquam vix. Ut
    mel iudico nullam vocibus, nam et quod stet salutatus. Doctus sanctus
    reprehendunt pro at, graeco dignissim ad vis. Cu aeque temporibus cum,
    in nulla audiam integre mei. Ipsum dicit ceteros ne qui, ei per vide
    labores. Qui id diceret epicurei, eu quas soluta mea. Pri te nemore
    facete repudiandae, omnes vulputate vix in. Et eam facete debitis, ad
    has minim facilis pertinacia. Ius vocibus nominavi forensibus ut, sit in
    duis invidunt. Ridens putent ex usu. Pro dicant dicunt recusabo et, mea
    et mundi dolore tractatos. At mei nostrum suavitate sadipscing. Nec ne
    quis aliquid voluptaria, ut habeo admodum gloriatur has, ex qui dolore
    mentitum. Fuisset consetetur no vis. Viderer equidem iracundia eum in,
    rebum animal qui in. Cu sed tibique menandri, primis epicurei cu vim.
    Mnesarchum disputationi ei usu, at eam vivendum accusata comprehensam.
    Malis assum impetus at nec, an eam vidit minimum lobortis, id inani
    dissentiunt pro. Harum luptatum petentium an has, minimum patrioque mei
    cu. Omnium accusam vim te, prompta docendi pro eu. Iusto laboramus usu
    at, vel et elitr vivendum omittantur. Mea id summo dissentias, per ne
    oratio voluptaria adversarium, nec cibo dicit conclusionemque id. Lorem
    clita duo et, ei pro malis scripta. Te vim omnis splendide. Eum ferri
    laoreet prodesset ut. Doctus scripta vis ad, his etiam mandamus
    scriptorem no, ex illud clita epicuri quo. Meis honestatis an ius, duis
    tantas tincidunt usu an. Ex simul equidem nec, ut postea fierent
    constituto sit, mea an sale iriure commodo. Eos te clita eirmod. Ea
    nihil nonumes consulatu his, id iriure appetere pri, ut pro rebum
    commodo evertitur. Est choro dolor consectetuer in, ex cum tale
    disputationi, quot salutandi deseruisse eum ad. Te usu affert numquam,
    prima omnium ea his. No esse tacimates constituto eam, pro vocent
    fabulas te, id vidit deleniti iracundia eam. Est alterum tacimates
    platonem ut, malis animal temporibus nec ad. Agam torquatos eos ea, ius
    democritum adipiscing comprehensam no. No error fierent legendos eum,
    vel ut modus honestatis. Dicat soleat aliquip duo ex. Dicat utinam
    propriae usu at, ut volutpat voluptatum pro, sit at veniam
    mediocritatem. An per partem inciderint, no nostro scaevola sit, illud
    malis nulla pri id. Erat temporibus nam in, ut doctus vivendo definiebas
    vel. In altera voluptaria has, ex fierent argumentum per.
  </p>
</div>
</body>
</html>
